<%- include('layouts/header.ejs') %>

      <br>
      <br>


      <!--testing stretched link-->
      <div class="container">
        <div class="row g-0 bg-light position-relative">
          <div class="col-md-6 mb-md-0 p-md-4">
            <img src="images/TAMUSA.jpg" class="w-100" alt="...">
          </div>
          <div class="col-md-6 p-4 ps-md-0">
            <h4 class="mt-0" >Bachelor of Science in Computer Science</h4>
            <h5>Texas A&M San Antonio College</h5>
            <h6>Fall 2020 - present</h6>
            <h6>Current GPA: 3.30</h6>
            <br>
            <p>I transferred from San Antonio college in the fall of 2020. 
                <br>I am currrently a senior a graduation date of spring 2023.
                <br>
                <br>
                <br><small>ONE UNIVERSITY WAY</small>
                <br><small>SAN ANTONIO, TX 78224</small>
                <br><small>(210)784-1000</small>
            </p>
            <a href="https://www.tamusa.edu" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <br>

      <div class="container">
        <div class="row g-0 bg-light position-relative">
          <div class="col-md-6 mb-md-0 p-md-4">
            <img src="images/SAC.jpg" class="w-100" alt="...">
          </div>
          <div class="col-md-6 p-4 ps-md-0">
            <h4 class="mt-0" >Associate of Art in Photography</h4>
            <h5>San Antonio College</h5>
            <h6>Fall 2010 - Spring 2013</h6>
            <h6>GPA: 3.40</h6>
            <br>
            <p>I enrolled at San Antonio College during the semseter that immediately followed my High School graduation. I attained my associate degree in the spring of 2013.
                
                <br>
                <br>
                <br><small>1819 N. MAIN AVE.</small>
                <br><small>SAN ANTONIO, TEXAS 78212</small> 
                <br><small>(210)212-5266</small>
            </p>
            <a href="https://www.alamo.edu/sac/" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <br>

      <div class="container">
        <div class="row g-0 bg-light position-relative">
          <div class="col-md-6 mb-md-0 p-md-4">
            <img src="images/SCHS.jpg" class="w-100" alt="...">
          </div>
          <div class="col-md-6 p-4 ps-md-0">
            <h4 class="mt-0" >High School Diploma</h4>
            <h5>Samuel Clemens High School</h5>
            <h6>Fall 2006 - Spring 2010</h6>
            <h6>GPA: 3.45</h6>
            <br>
            <p>I completed my high school diploma in the spring of 2010.
                <br>
                <br>
                <br>
                <br><small>1001 ELBEL RD</small>
                <br><small>SCHERTZ, TX 78154</small>
                <br><small>(210)945-6501</small>
            </p>
            <a href="https://www.scuc.txed.net/Clemens" class="stretched-link"></a>
          </div>
        </div>
      </div>
        <!--end of testing-->


    <br>
    <br>
    <br>
    <br>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
</body>
</html>