<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovanna's Portfolio</title>

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!--Personal CSS-->
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
    <!--NavBar-->
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(228, 228, 228);">
        <div class="container-fluid">
          <a class="navbar-brand" >Jovanna Fajardo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="./index.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./experience.html">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./education.htm">Education</a>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Portfolio
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="./graphicDesign.html">Graphic Design</a></li>
                    <li><a class="dropdown-item" href="./photography.html">Photography</a></li>
                    
                  </ul>
                </li>

                
              <li class="nav-item">
                <a class="nav-link" href="./contact.html">Contact</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/jfajardo3"></a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                      </svg>
                  </li>
                
                

            </ul>
          </div>
        </div>

      </nav>
      <!--end of NavBar-->

      <br>
      <br>

      <!--start of Accordian-->
      <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="accordion accordion-flush" id="accordionFlushExample">
        
        
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <!--<img src="../public/images/DEX-Imaging.png" width="5%" p="20">-->
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Dex Imaging
                          
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <br>Senior Graphic Designer
                            <br>Dex Imaging - San Antonio, TX
                            <br>May 2019 to Present</br>
                            <br>
                            <li>Oversees the progress and completion of all design requests</li>
                            <li>Prioritizes and assigns design requests to subordinates and monitors customer feedback and concerns</li>
                            <li>Creates unique designs for the client (Baptist Health System), that are bold, functional, and eye-catching</li>
                            <li>Manages monthly report documenting job request volume and customer details</li>
                            <li>Collaborates with customer on major design campaigns to produce a cohesive and visually stimulating result</li>
                            
                            </div>
                      </div>
                    </div>
                    
                    
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          DOCUmation
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <br>Senior Graphic Designer
                            <br>Dex Imaging - San Antonio, TX
                            <br>June 2017 to May 2019</br>
                            <br>
                            <li>Oversaw the progress and completion of all design requests</li>
                            <li>Prioritized and assigned design requests to subordinates and monitored customer feedback and concerns</li>
                            <li>Created unique designs for the client (Baptist Health System), that are bold, functional, and eye-catching</li>
                            <li>Managed monthly report documenting job request volume and customer details</li>
                            <li>Collaborated with customer on major design campaigns to produce a cohesive and visually stimulating result</li>
                            <br>
                            <br>

                            <br>Graphic Designer
                            <br>Dex Imaging - San Antonio, TX
                            <br>Feb 2015 to June 2017</br>
                            <br>
                            <li>Oversaw the progress and completion of all design requests</li>
                            <li>Prioritized and assigned design requests to subordinates and monitored customer feedback and concerns</li>
                            <li>Created unique designs for the client (Baptist Health System), that are bold, functional, and eye-catching</li>
                            <li>Managed monthly report documenting job request volume and customer details</li>
                            <li>Collaborated with customer on major design campaigns to produce a cohesive and visually stimulating result</li>
                      </div>
                    </div>
                    
                    
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          Ricoh
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            <br>Printshop Associate
                            <br>Ricoh - San Antonio, TX
                            <br>December 2012 to February 2015</br>
                            <br>
                            <li>Solely responsible for producing all training materials needed for USAA training classes</li>
                            <li>Regularly led meetings with important Stake Holders within USAA</li>
                            <li>Individually managed, produced and completed 75% of entire production center workload efficiently</li>
                            <li>Diligently monitored customer relations and communication regarding materials in all stages of production</li>
                            <li>Used Adobe Creative suite to manipulate or create documents needed for production</li>
                            <li>Created a stable and efficient work flow to meet extremely vital deadlines</li>
                            
                            
                            
                            
                            
                            </div>
                      </div>
                    </div>
            
            
                  </div>

            </div>
        </div>
      </div>
      
      
      <!--end of Accordian-->


    <br>
    <br>
    <br>
    <br>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
</body>
</html>