<%- include('layouts/header.ejs') %>

      <br>
      <br>

      <!--start of Accordian-->
      <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="accordion accordion-flush" id="accordionFlushExample">
        
        
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <!--<img src="../public/images/DEX-Imaging.png" width="5%" p="20">-->
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Dex Imaging
                          
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <br>Senior Graphic Designer
                            <br>Dex Imaging - San Antonio, TX
                            <br>May 2019 to Present</br>
                            <br>
                            <li>Oversees the progress and completion of all design requests</li>
                            <li>Prioritizes and assigns design requests to subordinates and monitors customer feedback and concerns</li>
                            <li>Creates unique designs for the client (Baptist Health System), that are bold, functional, and eye-catching</li>
                            <li>Manages monthly report documenting job request volume and customer details</li>
                            <li>Collaborates with customer on major design campaigns to produce a cohesive and visually stimulating result</li>
                            
                            </div>
                      </div>
                    </div>
                    
                    
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          DOCUmation
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <br>Senior Graphic Designer
                            <br>Dex Imaging - San Antonio, TX
                            <br>June 2017 to May 2019</br>
                            <br>
                            <li>Oversaw the progress and completion of all design requests</li>
                            <li>Prioritized and assigned design requests to subordinates and monitored customer feedback and concerns</li>
                            <li>Created unique designs for the client (Baptist Health System), that are bold, functional, and eye-catching</li>
                            <li>Managed monthly report documenting job request volume and customer details</li>
                            <li>Collaborated with customer on major design campaigns to produce a cohesive and visually stimulating result</li>
                            <br>
                            <br>

                            <br>Graphic Designer
                            <br>Dex Imaging - San Antonio, TX
                            <br>Feb 2015 to June 2017</br>
                            <br>
                            <li>Oversaw the progress and completion of all design requests</li>
                            <li>Prioritized and assigned design requests to subordinates and monitored customer feedback and concerns</li>
                            <li>Created unique designs for the client (Baptist Health System), that are bold, functional, and eye-catching</li>
                            <li>Managed monthly report documenting job request volume and customer details</li>
                            <li>Collaborated with customer on major design campaigns to produce a cohesive and visually stimulating result</li>
                      </div>
                    </div>
                    
                    
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          Ricoh
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            <br>Printshop Associate
                            <br>Ricoh - San Antonio, TX
                            <br>December 2012 to February 2015</br>
                            <br>
                            <li>Solely responsible for producing all training materials needed for USAA training classes</li>
                            <li>Regularly led meetings with important Stake Holders within USAA</li>
                            <li>Individually managed, produced and completed 75% of entire production center workload efficiently</li>
                            <li>Diligently monitored customer relations and communication regarding materials in all stages of production</li>
                            <li>Used Adobe Creative suite to manipulate or create documents needed for production</li>
                            <li>Created a stable and efficient work flow to meet extremely vital deadlines</li>
                            
                            
                            
                            
                            
                            </div>
                      </div>
                    </div>
            
            
                  </div>

            </div>
        </div>
      </div>
      
      
      <!--end of Accordian-->


    <br>
    <br>
    <br>
    <br>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
</body>
</html>