<%- include('layouts/header.ejs') %>


      <br>
      <br>

      <!--start of Grid-->

      <div class="container text-center">
        <div class="row">
          <div class="col">

            <!--start of AutoCarousel-->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" >
              <div class="carousel-inner">
                <div class="carousel-item active">
                    
                        <img src="images/graphic design/ob guide pg1.jpg" class="d-block w-100" alt="..." >

                </div>
                <div class="carousel-item">
                  
                        <img src="images/graphic design/BHS - OB  Your Guide to Pregnancy for Folder samples_Page_2.png" class="d-block w-100" alt="..." >
                    
                </div>
                <div class="carousel-item">
                        <img src="images/graphic design/BHS - OB  Your Guide to Pregnancy for Folder samples_Page_3.png" class="d-block w-100" alt="..." >
                        
                </div>
              </div>
              
          </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      
    

      <!--end of AutoCarousel-->
          
          </div>
          <div class="col">
            <img src="images/graphic design/BHS AHA Cardio Poster sample_Page_1.png" class="d-block w-50" alt="..." width="40%" >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <!--start of AutoCarousel-->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" >
              <div class="carousel-inner">
                <div class="carousel-item active">
                    
                        <img src="images/graphic design/STROKE BROCHURE UPDATE2 sample_Page_1.png" class="d-block w-100" alt="..." >

                </div>
                <div class="carousel-item">
                  
                        <img src="images/graphic design/STROKE BROCHURE UPDATE2 sample_Page_2.png" class="d-block w-100" alt="..." >
                    
                </div>
          </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      
    

      <!--end of AutoCarousel-->
           
          </div>
          <div class="col">
            <!--start of AutoCarousel-->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" >
              <div class="carousel-inner">
                <div class="carousel-item active">
                    
                        <img src="images/graphic design/MTBH - Brochure_gatefold 11x17 10-14-21 sample_Page_1.png" class="d-block w-100" alt="..." >

                </div>
                <div class="carousel-item">
                  
                        <img src="images/graphic design/MTBH - Brochure_gatefold 11x17 10-14-21 sample_Page_2.png" class="d-block w-100" alt="..." >
                    
                </div>
          </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      
    

      <!--end of AutoCarousel-->

          </div>
          <div class="col">
            <img src="images/graphic design/BHS - OB  Your Guide to Pregnancy for Folder samples_Page_9.png" class="d-block w-50" alt="..." width="20%">
          </div>
        </div>
      </div>

      <!--end of Grid-->

      

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
</body>
</html>