<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovanna's Portfolio</title>

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!--Personal CSS-->
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
    <!--NavBar-->
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(228, 228, 228);">
        <div class="container-fluid">
          <a class="navbar-brand" >Jovanna Fajardo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="./index.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./experience.html">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./education.htm">Education</a>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Portfolio
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item active" aria-current="page" href="./graphicDesign.html">Graphic Design</a></li>
                    <li><a class="dropdown-item" href="./photography.html">Photography</a></li>
                    
                  </ul>
                </li>

                
              <li class="nav-item">
                <a class="nav-link" href="./contact.html">Contact</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/jfajardo3"></a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                      </svg>
                  </li>
                

            </ul>
          </div>
        </div>

      </nav>
      <!--end of NavBar-->
      <br>
      <br>

      <!--start of Grid-->

      <div class="container text-center">
        <div class="row">
          <div class="col">

            <!--start of AutoCarousel-->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" >
              <div class="carousel-inner">
                <div class="carousel-item active">
                    
                        <img src="../public/images/graphic design/ob guide pg1.jpg" class="d-block w-100" alt="..." >

                </div>
                <div class="carousel-item">
                  
                        <img src="../public/images/graphic design/BHS - OB  Your Guide to Pregnancy for Folder samples_Page_2.png" class="d-block w-100" alt="..." >
                    
                </div>
                <div class="carousel-item">
                        <img src="../public/images/graphic design/BHS - OB  Your Guide to Pregnancy for Folder samples_Page_3.png" class="d-block w-100" alt="..." >
                        
                </div>
              </div>
              
          </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      
    

      <!--end of AutoCarousel-->
          
          </div>
          <div class="col">
            <img src="../public/images/graphic design/BHS AHA Cardio Poster sample_Page_1.png" class="d-block w-50" alt="..." width="40%" >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <!--start of AutoCarousel-->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" >
              <div class="carousel-inner">
                <div class="carousel-item active">
                    
                        <img src="../public/images/graphic design/STROKE BROCHURE UPDATE2 sample_Page_1.png" class="d-block w-100" alt="..." >

                </div>
                <div class="carousel-item">
                  
                        <img src="../public/images/graphic design/STROKE BROCHURE UPDATE2 sample_Page_2.png" class="d-block w-100" alt="..." >
                    
                </div>
          </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      
    

      <!--end of AutoCarousel-->
           
          </div>
          <div class="col">
            <!--start of AutoCarousel-->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" >
              <div class="carousel-inner">
                <div class="carousel-item active">
                    
                        <img src="../public/images/graphic design/MTBH - Brochure_gatefold 11x17 10-14-21 sample_Page_1.png" class="d-block w-100" alt="..." >

                </div>
                <div class="carousel-item">
                  
                        <img src="../public/images/graphic design/MTBH - Brochure_gatefold 11x17 10-14-21 sample_Page_2.png" class="d-block w-100" alt="..." >
                    
                </div>
          </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      
    

      <!--end of AutoCarousel-->

          </div>
          <div class="col">
            <img src="../public/images/graphic design/BHS - OB  Your Guide to Pregnancy for Folder samples_Page_9.png" class="d-block w-50" alt="..." width="20%">
          </div>
        </div>
      </div>

      <!--end of Grid-->

      

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
</body>
</html>