<%- include('layouts/header.ejs') %>


      <br>
      <br>

  

      <br>
      <br>


      <!--testing stretched link-->
      <div class="container">
        <div class="row g-0 bg-light">
          <div class="col-md-6 mb-md-0 p-md-4">
            <img src="images/me 8.jpg" class="w-100" alt="..." style="max-width: 300px;">
          </div>
          <div class="col-md-6 p-4 ">
            <h4 class="mt-0" >Jovanna Fajardo</h4>
            <h5>Graphic Designer  |  Professional Photographer  |  Computer Science Student</h5>
            <h6></h6>
            <h6></h6>
            <br>
            <p>I am currently enrolled at Texas A&M San Antonio where I am pursuing my Bachelor of Science in Computer Science. 
              My full time job is as a Senior Graphic Designer for Baptist Health System. I have been working as a graphic designer since 2015. 
              I am also a professional photographer with 12+ years experience and an Associate degree in Photography. I have formal training in 
              many methods of photography as well as real world experience. 
              <br>

              <br>Within this website you will find samples of my graphic design work as well as my photography. My detailed education and job experience is also included.
                <br>
                <br>
                <br>
                
            </p>
            
          </div>
        </div>
      </div>

  

      <!--end stretch link-->
     

    

      <br>
      <br>
     

      <!--start of Vid-->
      <div class="container">
        <div class="row">
          <div class="col-5">
            <video width="1280" height="960" controls>
              <source src="videos/designVid.mp4" type="video/mp4">
            </video>
          
      <!--start of Vid-->
      

      

      


    <br>
    <br>
    <br>
    <br>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
</body>
</html>