<%- include('layouts/header.ejs') %>


      <br>
      <br>

      <!--testing stretched link-->
      <div class="container">
        <div class="row g-0 bg-light position-relative">
          <div class="col-md-6 mb-md-0 p-md-4">
            <img src="images/me 4.JPG" class="w-100" alt="...">
          </div>
  
          <div class="col-md-6 p-4 ps-md-0 text-center">
              <img src="images/logojp.png" width="50%" >
  
              <br>
              <br>
              <br>
            
            <p>I have been a professional Photographer for 10 years. 
              I have photographed, weddings, engagements, family & child protraits, senior & grad portraits, and newborns. 
              <br>Click on each of the pictures below to be taken to its gallery or click anywhere on this icon to be taken directly to my photography webstie.</p>
            <a href="https://jovannasphotography.com/" class="stretched-link"></a>
          </div>
        </div>
      </div>
        <!--end of testing-->

     <br>
     <br>


      <!--start of AutoCarousel-->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" >
              <div class="carousel-inner">
                <div class="carousel-item active">
                    
                    <a href="https://jovannasphotography.com/engagements-1"> 
                        <img src="images/Engagement.jpg" class="d-block w-100" alt="..." >

                        </a>
                        <h3>Engagement Photo Gallery</h3>
                </div>
                <div class="carousel-item">
                    
                    <a href="https://jovannasphotography.com/family"> 
                        <img src="images/44 reduced copy.jpg" class="d-block w-100" alt="..." >
                        </a>
                        <h3>Family Portrait Photo Gallery</h3>
                </div>
                <div class="carousel-item">
                    
                    <a href="https://jovannasphotography.com/senior-grad-portraits"> 
                        <img src="images/Senior.jpg" class="d-block w-100" alt="..." >
                        </a>
                        <h3>Senior & Grad Portrait Photo Gallery</h3>
                </div>
              </div>
              <div class="carousel-item">
                
                <a href="https://jovannasphotography.com/my-new-page"> 
                    <img src="images/child.jpg" class="d-block w-100" alt="..." >
                    </a>
                    <h3>Child Portrait Photo Gallery</h3>
            </div>
          </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      

      <!--end of AutoCarousel-->


      <br>
      <br>

      

      <br>
      <br>
      

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
</body>
</html>